@using ForgetPasswordFlow1.Models
@model ForgetPasswordViewModel
@{
    ViewBag.Title = "ForgetPassword";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}






@using (Html.BeginForm())
{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    ////ADDED GOOGLE CAPTCHA CODE START BLOCK
    <script type="text/javascript">
        var onloadCallback = function () {
            grecaptcha.render('divcaptcha', {
                'sitekey': '6Lfv2HMaAAAAAHeacSOA2XxGDOasg2harNJPZSy2',
                'callback': function (response) {
                    if (response.length == 0 || response == "" || response == undefined) {
                        alert('You cannot leave empty captcha');
                        document.getElementById('grecaptchaerror').innerHTML = "You cannot leave empty captcha";
                        alert('You Cannot Leave Empty Captcha');
                    }
                    else {
                        $('#txtcaptcha').val('t');
                    }

                }
            });
        };
    </script>
    @*<script type="text/javascript">
            // ADDED CHANGE BY SHAHRUKH KHAN 08-MARCH-2021 START BLOCK PASSWORD ENCRYTION CODE IN JS CODE
            function crypt() {
                var password = document.getElementById("inputotp");
                var key = CryptoJS.enc.Utf8.parse('8080808080808080');
                var iv = CryptoJS.enc.Utf8.parse('8080808080808080');

                var encryptedpassword = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(password), key,
                    {
                        keySize: 128 / 8,
                        iv: iv,
                        mode: CryptoJS.mode.CBC,
                        padding: CryptoJS.pad.Pkcs7
                    });
                document.getElementById("encrypted-password").value = encryptedpassword;
            }
        </script>*@
    <div>

        @if (ViewData["OTPConfirmationMessage"] != null)
        {
            <script type="text/javascript">
                alert('@ViewData["OTPConfirmationMessage"]');
                $(document).ready(function () {
                    $('#displaycontent').hide();

                });

            </script>
        }

    </div>

    //ADDED CONFIRMATION LINK BUTTON DISABLED FOR 5SEC FUNCTIONALITY START BLOCK
    <script type="text/javascript">
        $(document).ready(function () {
            document.getElementById("btnconfirmationlink").disabled = false;

            $('#btnconfirmationlink').click(function () {
                setTimeout(function () {
                    document.getElementById('btnconfirmationlink').disabled = true;
                }, 5000);
                var countdownNum = 5;
                incTimer();


                function incTimer() {
                    setTimeout(function () {
                        if (countdownNum != 0) {
                            countdownNum--;
                            document.getElementById('timeLeft1').innerHTML = 'Time left: ' + countdownNum + ' seconds';
                            incTimer();
                        }
                    }, 1000);
                }


            });
        });

    </script>
    ///// ADDED CONFIRMATION LINK BUTTON DISABLED FOR 5SEC FUNCTIONALITY END BLOCK
    ///ADDED SEND OTP BUTTON DISABLED FOR 5SEC FUNCTIONALITY START BLOCK

    <script type="text/javascript">
        $(document).ready(function () {

            document.getElementById("btnsendotp").disabled = false;

            $('#btnsendotp').click(function () {
                setTimeout(function () {
                    document.getElementById('btnsendotp').disabled = true;
                    //$("#inputotp").prop("disabled", true);

                    document.getElementById('inputotp').disabled = false;
                }, 5000);
                var countdownNum = 5;
                incTimer();
                function incTimer() {
                    setTimeout(function () {
                        if (countdownNum != 0) {
                            countdownNum--;
                            document.getElementById('timeLeft2').innerHTML = 'Time left: ' + countdownNum + ' seconds';


                            incTimer();
                        }
                    }, 1000);
                }

            });
        });
    </script>


    //ADDED SEND OTP BUTTON DISABLED FOR 5SEC FUNCTIONALITY END BLOCK
    //ADDED/CHANGED  JS VALIDATIONS FOR BOTH BUTTON SEND OTP AND SEND CONFIRMATION LINK

    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnconfirmationlink,#btnsendotp').click(function () {

                $(".error").hide();
                var hasError = false;
                var EmailReg = /^([a-zA-Z0-9_\.\-\+])+([a-zA-Z0-9]{2,4})+$/;

                var emailaddressVal = $("#UserEmail").val();
                if (emailaddressVal == '') {
                    alert('Please Enter Valid Email');
                    hasError = true;
                }
                else if (emailaddressVal == ' ') {
                    alert('Please Enter Correct Email');
                    hasError = true;
                }
                else if (!EmailReg.test(emailaddressVal)) {
                    hasError = false;
                }
                if (hasError == true) { return false; }

            });
        });
    </script>
    //ADDED/CHANGED  JS VALIDATIONS FOR BOTH BUTTON SEND OTP AND SEND CONFIRMATION LINK END BLOCK
    //ADDED PREVENT DOUBLE CLICKED FUNCTIONALITY FROM USER START BLOCK
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").submit(function () {
                $(this).submit(function () {
                    alert('Your Request Has been Send Successfully! Thank You');
                    return false;
                });
                return true;
            });
        });
    </script>
    //ADDED PREVENT DOUBLE CLICKED FUNCTIONALITY FROM USER END BLOCK



    //CODE PRINTING VIEW BAG MESSAGE START BLOCK

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                alert("@ViewBag.Message");
            </script>

        }
    </div>

    <input type="hidden" value="@ViewData["MyKey"]" />
    <div>
        @if (ViewData["MyKey"] != null)
        {
            <script type="text/javascript">
                $('#displaycontent').show();
            </script>

        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#displaycontent').hide();
                });
            </script>
        }
    </div>


    /// CODE PRINTING VIEW BAG MESSAGE END BLOCK

    <div class="row" style="margin-top:10px;">
        <div class="card bg-light col-md-6 mx-auto" style="height:auto;margin-top:80px">
            <article class="card-body">
                <div>
                    <div class="" style="height:200px;width:100%" align="center">
                        <h4 class="card-title text-center" style="font-family:sans-serif">Account Confirmation</h4>
                    </div>
                    <p class="text-center text-danger"><b>Click on the below  Link to verify your email</b></p>
                    <form method="post">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="email" class="form-control" placeholder="Email address" type="email" id="UserEmail"><br />
                            @*@Html.TextBoxFor(model=>model.email,new  {@class="form-control", name = "email", placeholder = "Email address" ,type = "email" ,id = "UserEmail" })*@

                        </div>
                        @*///  GOOGLE CAPTCHA CODE*@
                        <br />
                        <br />
                        <div id="divcaptcha"></div>
                        <input id="txtcaptcha" type="text" style="display:none;" />
                        <p id="grecaptchaerror"></p>
                        <br />
                        <br />
                        @*//Added /changed by shahrukh khan Date 7-mARCH-2021 Start Block*@

                        <div class="form-group" style="margin-top:-10px;">
                            <input type="submit" class="btn btn-warning btn-block" formaction="/ForgetPassword/ForgetPassword" value="Send Confirmation Link" id="btnconfirmationlink" formmethod="post">
                            <p id="timeLeft1">Time Left: 5 seconds</p>
                        </div> <!-- form-group// -->
                        <br />
                        <!-- form-group// -->



                        <br />
                    </form>
                </div>
            </article>
        </div> <!-- card.// -->

    </div>
    <br />
}











